{% for reservas in reservas %}
<form  method="post" action="/update{{ reservas.Id }} " enctype="multipart/form-data">
      
    Id:
    <input type="hidden" name="txtId" id="txtId" value="{{ reservas.Id[0] }}">
     <br><br>
    Nombre:
    <input type="text" name="txtNombre" id="txtNombre" value="{{ reservas.Nombre[1] }}">
    <br><br>
    Email:
    <input type="text" name="txtEmail" id="txtEmail" value="{{ reservas.Email[2] }}">
    <br><br>
    Mensaje:
    <input type="text" name="txtMensaje" id="txtMensaje" value="{{ reservas.Mensaje[3] }}"> 
    <br><br>
    <input class="btn btn-success" type="submit" value="Agregar">
</form>
{% endfor %}

 
